<br/>
<br />
<br />
<br />

@{
    ViewBag.Title = "adminHome";
}


@if (ViewBag.Email1 != null  )
{

    <h2> Welcome  APTA Admin : </h2>
    
    <h4>Your Email ,@ViewBag.Email1</h4>


    


    <p>

      
        @{Html.RenderAction("adminNav", "Home");}
        <p>
            <a href="@Url.Action("Create","Conference")" class="btn btn-default btn-lg btn-block" role="button">Create A new Conference </a>

        </p>
        <p>
            <a href="@Url.Action("Create","Admin")" class=" btn btn-default btn-lg btn-block" role="button">Create A new APTA ADMIN </a>

        </p>
        <p>
            <a href="@Url.Action("Index","Organizer")" class="btn btn-default btn-lg btn-block" role="button">Manage or approve Organization </a>

        </p>   
        <p>
            <a href="@Url.Action("Index","Attendee")" class="btn btn-default btn-lg btn-block" role="button">Manage Attendee </a>

        </p>  
    </p>
}
else
{
    <p>
   
        @{Html.RenderAction("adminLogin", "Home");}
    </p>
   
   
}
