@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
}


    @{Html.RenderAction("testNav","Home");}
   

    <div class="well well-lg">


        <h1>Assignment : APTA Conference Management System</h1>
    </div>


    <div class="well well-lg">


        <h3>This Application is developed by :</h3>

    </div>
    <div class="well well-lg">


        <div class="panel panel-primary">
            <b></b>


            <div class="panel-body"> <b>Student Name : </b>  Md. Rakibul Hasan Molla</div>


            <div class="panel-body"><b> Student ID : </b> 160206</div>



            <div class="panel-body"><b> Location : </b> Gollamari, Khulna.</div>

            <div class="panel-body"><b>  Due Date :</b> 10-06-2018</div>
            <div class="panel-body"> <b>Khulna Univrersity, Khulna</b> </div>




        </div>
    </div>
