@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>wait</title>
    <meta name="description" content="The description of my page" />
</head>
<body>
@{Html.RenderAction("testNav", "Home");}
<h1>Please wait for your  approval then login. </h1>
<h2>successfully registered</h2>
<div>

</div>
</body>
</html>
