@model MVC_APTA_CMS_DEMO.Models.organizer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrEdit</title>
</head>
<body>
<table>
    <tr>
        <td></td>
        <td style="text-decoration: underline"> Add Organize </td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model=>model.conferenceId)</td>
        <td> @Html.DropDownListFor(model => model.conferenceId, new SelectList(Model.ConferenceCollection,"conferenceId","Name"),"Select")</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.OrganizerId)</td>
        <td> @Html.EditorFor(model => model.Email)</td>
    </tr>
    
</table>
</body>
</html>
