@{
    ViewBag.Title = "Error";
}
@{Html.RenderAction("testNav", "Home");}

<h2>Error username or password </h2>

<h4>or you  are not approved, please wait for approval  </h4>
<h4>Please go back and log in  correctly  </h4>